@model Crud_with_Ajax.Models.StudentViewModel



@{
    ViewBag.Title = "Home Page";
}



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />



<div class="container" style="margin:3px;">



    <a href="#" class="btn btn-default" onclick="addnewstudent(0)">Add New Student</a>
    <br />
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Student Email</th>
                <th>Department Name</th>
                <th>Action (Edit)</th>
                <th>Action (Delete)</th>
            </tr>
        </thead>
        <tbody id="setstudentdata">
            <tr id="loadingdata" style="color:red;"></tr>
        </tbody>
    </table>

</div>


<script>



    $("#loadingdata").html("loading...");
    $.get("/Home/GetStudentList", null, databind);
    
    function databind(stdlist) {

        var setdata = $("#setstudentdata");
        
        for (var i=0; i < stdlist.length; i++) {
            var data = "<tr class='row_" + stdlist[i].id + "'>" +
                "<td>" + stdlist[i].id + "</td>" +
                "<td>" + stdlist[i].name + "</td>" +
                "<td>" + stdlist[i].email + "</td>" +
                "<td>" + stdlist[i].dpname + "</td>" +
                "<td>" + "<a href='#' class='btn btn-warning' onclick='editstudent(" + stdlist[i].id + ")'><span class='glyphicon glyphicon-edit'></span></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' onclick='delstudent(" + stdlist[i].id + ")'><span class='glyphicon glyphicon-delete'></span></a>" + "</td>" +
                "</tr>";
            debugger;
            setdata.append(data);
            $("#loadingdata").html("");
        }

    }





</script>


